.nav-custom {
  background-color: rgb(228, 244, 194);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.nav-brand {
  font-size: x-large;
  text-decoration: none;
  font-weight: 900;
  color: rgb(58, 83, 8);
  margin-left: 50px; /* Add margin for spacing */
}

.nav-links-container {
  align-items: end;
}

.nav-links-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links-container ul li {
  margin: 0;
  padding: 0;
}

.nav-links-container .btn {
  margin-left: 10px;
}
.btn-custom {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.profile_info{
  background-color: beige;
  /* border: solid 2px rgb(58, 83, 8); */
  box-shadow: 0px 2px 4px rgba(0, 0, 0.2, 0.5);
}
.dropdown-item{
  color: rgb(58, 83, 8);
  font-weight: 900;
}
@media screen and (max-width: 1080px) {
  .nav-links-container .btn {
    margin: 5px;
  }
  
}

@media screen and (max-width: 767px) {
  .nav-links-container .btn {
    margin-left: 50px;
  }
  .link-div {
    margin-left: 50px;
  }
}
